<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Search</title>
</head>
<body>
    <header></header>
    <main>
        <form action="">
            <input type="text">
            <label>
                <span>Title</span>
                <input type="checkbox" name="Title" class="tick">
            </label>
            <label>
                <span>Author</span>
                <input type="checkbox" name="Author" class="tick">
            </label>
            <input type="button" value="Search">
        </form>
    </main>
    <footer></footer>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</body>
</html>