<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Search</title>
</head>
<body>
    <header></header>
    <main>
        <form action="/result">
            <input type="text" class="srchbox">
            <label>
                <span>Title</span>
                <input type="checkbox" name="Title" id="title">
            </label>
            <label>
                <span>Author</span>
                <input type="checkbox" name="Author" id="author">
            </label>
            <button class="btn">Search</button>
        </form>
    </main>
    <footer></footer>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="../app.js"></script>
</body>
</html>