<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Search</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/new.css">
</head>
<body>
<%- include ('../header.ejs') %>
    <main>
        <p>Make a new search:</p>
        <form action="/result" method="POST">
            <input required type="text" name="keyword" class="srchbox">
            <label>
                <span>Title</span>
                <input type="radio" name="optiontitle" id="title">
            </label>
            <label>
                <span>Author</span>
                <input type="radio" name="optionauthor" id="author">
            </label>
            <button class="btn">Search</button>
        </form>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="../app.js"></script>
</body>
</html>