<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
</head>
<body>
        <% book.forEach(val=>{ %>
            <ul>
               <li> <img src="<%= val.volumeInfo.imageLinks.thumbnail %>"> </li>
               <li> <%= val.volumeInfo.title %> </li>
               <li> <%= val.volumeInfo.authors %> </li>
               <li> <%= val.volumeInfo.description %> </li>
            </ul>
        <% }); %>
</body>
</html>