<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>header</title>
   <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="./styles/base.css">
   <link rel="stylesheet" href="./styles/header.css">
</head>
<body>
   
   <header>
      <h1>BOOK APP</h1>
      <nav>
         <a class="pagelink" href="/search">Search</a>
         <a class="pagelink" href="/">Main Page</a>
     </nav>
   </header>
   <footer> All Rights Reserved. 2020</footer>

</body>
</html>